@model CtrlOrdem.Models.Financeiro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Financeiro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPagto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaPagto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CondPagto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CondPagto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FinanceiroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
