@model CtrlOrdem.Models.Ordem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ordem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TecnicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TecnicoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procedimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procedimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrdemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
